.heroProfile-container .profile {
    height: 130vh;
    background-color: #fff;
    width: 100%;
}

.heroProfile-container {
    height: 140vh;
    background-color: rgb(248, 247, 247);
}

.heroProfile-container .segeraHadir h1 {
    color: black;
    font-size: 2rem;
}

.heroProfile-container .segeraHadir h2 {
    font-size: 1.3rem;
}

.heroProfile-container .profile .kolom {
    background-color: rgba(211, 210, 210, 0.5);
    width: 26vw;
    margin: 10vh auto;
    text-align: center;
    padding: 5vh;
}

.heroProfile-container .profile .isi {
    width: 26vw;
    margin-top: 10vh;
}

.heroProfile-container .kolom p {
    color: rgb(154, 154, 154);
    font-size: 1rem;
}

.heroProfile-container .segeraHadir {
    margin-top: -45vh;
}

.heroProfile-container .kolom button {
    width: 11.5vw;
    height: 5vh;
    background-color: #e99938;
    border: 0 solid transparent;
    border-radius: 5px;
    margin: 1.5vh 0;
}

.heroProfile-container .kolom button:hover {
    background-color: #fdc683;
    cursor: pointer;
}

.heroProfile-container .isi #title {
    font-size: 3rem;
    color: #000;
}

.heroProfile-container .isi {
    font-size: 1.2rem;
    color: rgb(130, 130, 130);
}

.heroProfile-container .isi button {
    width: 7vw;
    height: 4.5vh;
    background-color: red;
    border: 0 solid transparent;
    color: #000;
    border-radius: 6px;
    margin-left: 0;
}

.heroProfile-container .isi button:hover {
    color: white;
    cursor: pointer;
}

.heroProfile-container tr td {
    padding-bottom: 3vh;
    padding-right: 60vh;
    color: rgb(68, 68, 68);
}

@media screen and (max-width: 768px) {
    .heroProfile-container .profile {
        height: 117.5vh;
    }
    .heroProfile-container {
        height: 222vh;
        overflow-x: hidden;
    }
    .heroProfile-container .segeraHadir {
        margin-left: 0vw;
        margin-top: 40vh;
    }
    .hero-container .content {
        margin-top: 25vh;
    }
    .heroProfile-container .profile .kolom {
        width: 80vw;
    }
    .heroProfile-container .kolom button {
        width: 43vw;
        height: 5vh;
        margin: 1.5vh 0;
    }
    .heroProfile-container .isi {
        margin-left: 10vw;
    }
    .heroProfile-container .isi button {
        width: 20vw;
        height: 5.5vh;
    }
    .heroProfile-container tr td {
        padding-right: 20vh;
    }
}